* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: antiquewhite;
  font-family: "Spartan", sans-serif;
}

li {
  list-style: none;
}

.social-proof {
  padding: 5rem;
  margin: 5rem;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.social-proof__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #502050;
}

.text p {
  color: #937b92;
  line-height: 1.6;
}

.reviews_stars {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
}

.item p {
  color: #502050;
  font-weight: bold;
}

.item-1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item__stars {
  margin-right: 1rem;
}

.item__stars > * {
  color: goldenrod;
}
