* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: antiquewhite;
  font-family: "Spartan", sans-serif;
}

li {
  list-style: none;
}

.social-proof {
  padding: 8rem;
  margin: 5rem;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.social-proof__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3rem;
}

.text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #502050;
}

.text p {
  color: #937b92;
  line-height: 1.6;
}

.reviews_stars {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-bottom: 1rem;
}

.item p {
  color: #502050;
  font-weight: bold;
}

.item-1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item__stars {
  margin-right: 1rem;
}

.item__stars > * {
  color: goldenrod;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-card {
  padding: 2rem;
  background-color: #502050;
  border-radius: 5px;
  width: 32%;
}

.review-card-1 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.review-card-3 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.user-img {
  margin-right: 1rem;
}

.user-img img {
  border-radius: 50%;
  width: 40px;
}

.user-info .name {
  color: white;
  margin-bottom: 0.5rem;
}

.user-info .title {
  color: #937b92;
  font-weight: lighter;
}

.review {
  font-size: 0.7rem;
  line-height: 1.6;
  color: white;
}

@media screen and (max-width: 1100px) {
  .social-proof {
    margin: 0;
  }
  .social-proof__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
  .text {
    margin-bottom: 3rem;
    margin-right: 0;
  }
  .item-1,
  .item-2,
  .item-3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item__stars {
    margin-bottom: 1rem;
  }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-card {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .social-proof {
    padding: 4rem 1rem;
  }
}
